<h1>ログインページ</h1>
<div class="login-form">
<%= form_tag("/login") do %>
 <p>メールアドレス</p>
 <input name="email">
 <P>パスワード</P>
 <input name="password"　type="password">
 <div></div>
 <input value="ログイン" type="submit">
<% end %>

</div>
