
<header>
   <div class="header-container">
    <div class="header-left">
        <h2 class="header-logo">
            <a href="/toppages/index" class="frix-logo">FRIX</a>
        </h2>
    </div>
    <div class="header-right">
         <ul>
            <li>よくある質問</li>
            <li>お問い合わせ</li>
            <li>アクセス</li>
            <li><%= link_to("新規登録","/signup")%></li>
            <li><%= link_to("ログイン","/login")%></li>
            <li><%= link_to("新規投稿","/posts/new")%></li>
            <li><%= link_to("編集","/posts/edit")%></li>
        </ul>
    </div>
   </div>

</header>